{% extends "core.html" %}

{% block header %}
<h4>Get Involved</h4>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div id=staticpage>
            <p>
                The best way to help animals is to go vegan! If you're already
                vegan, one of the best things you can do is to be an advocate
                for it. You don't need to donate money to animal rights groups;
                simply talking to people about veganism is very important.
            </p>
            <p>
                If you aren't sure what veganism is about or why you'd go vegan,
                then there's a lot more information at the
                <a href="http://vegankit.com/why" target="_blank">Why veganism?</a>
                link in the sidebar.
            </p>
            <p>
                If you aren't sure where to start, then
                <a href="http://vegankit.com/be" target="_blank">this page</a>
                about becoming vegan is a great resource.
            </p>
            <p>
                The local vegan group at UConn is called VegHuskies. We host events
                about animal rights, we advocate veganism on campus, and we're
                always happy to help anyone with going vegan. If you'd like
                to sign up for the mailing list, <a href="mailto:veghuskies@gmail.com">
                email us</a>!
            </p>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}
